<footer class="w-full">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 text-center md:text-left">
      <div>
        <h2 class="text-2xl font-semibold mb-2 text-red-800">
          Servicio Fekmar
        </h2>
        <p class="text-gray-400 text-sm mb-4">
          Venta y mantenimiento de extintores
        </p>
        <p class="text-gray-400 mb-4">
          Nos especializamos en la venta y recarga de extintores para garantizar
          la seguridad de tu negocio
        </p>
        <p class="text-gray-400 font-semibold">
          ¡Tu seguridad es nuestra prioridad!
        </p>
      </div>

      <div>
        <h3 class="text-lg font-semibold mb-3 text-red-800">
          Dirección y Contacto
        </h3>
        <p class="text-gray-400 mb-2">
          <mat-icon class="mr-2">location_on</mat-icon>
          <strong class="mr-1">Dirección:</strong>
          <a
            href="https://maps.app.goo.gl/BUbVPgpuXKySmd9v7"
            target="_blank"
            class="hover:text-red-500 hover:scale-105 transition-all duration-300 ease-in-out"
          >
            Sector los copihues, Rio Bueno, Servicio Fekmar
          </a>
        </p>
        <p class="text-gray-400 mb-2">
          <mat-icon class="mr-2">phone</mat-icon>
          <strong class="mr-1">N° Contacto:</strong>
          <a
            href="tel:+56983803835"
            class="hover:text-red-500 hover:scale-105 transition-all duration-300 ease-in-out"
            >+56 9 8380 3835</a
          >
        </p>
        <p class="text-gray-400 mb-2">
          <mat-icon class="mr-2">email</mat-icon>
          <strong class="mr-1">Correo:</strong>
          <a
            href="mailto:extintores.fekmarspa&#64;gmail.com?subject=Consulta%20sobre%20extintores"
            class="hover:text-red-500 hover:scale-105 transition-all duration-300 ease-in-out"
            > extintores.fekmarspa&#64;gmail.com</a
          >
        </p>
       
      </div>

      <div>
        <h3 class="text-lg font-semibold mb-3 text-red-800">
          Horario de Atención
        </h3>
        <p class="text-gray-400 mb-4">Lunes a Viernes: 9:00 a.m - 6:00 p.m</p>
        <div class="flex justify-center md:justify-start space-x-4">
          <a
            href="https://www.facebook.com/DistribuidoraMaxTech"
            class="text-blue-600"
            target="_blank"
          >
            <i class="fab fa-facebook text-3xl md:text-4xl hover:scale-110"></i>
          </a>
          <a
            href="https://www.instagram.com/distribuidorariobueno/"
            class="ml-2"
            target="_blank"
          >
            <i
              class="fab fa-instagram text-3xl md:text-4xl bg-gradient-to-r from-[#F56040] via-[#833AB4] to-[#4C68D7] text-transparent bg-clip-text hover:scale-110"
            ></i>
          </a>
        </div>
      </div>
    </div>
    <div
      class="text-center text-gray-500 text-sm mt-4 border-t border-gray-700 pt-4"
    >
      &copy; 2025 Servicio Fekmar. Todos los derechos reservados.
    </div>
  </div>
</footer>
