<section
  class="py-12 opacity-0 translate-y-10 transition-all duration-1000 ease-in-out"
>
  <div class="container mx-auto px-4">
    <div
      class="flex flex-col md:flex-row items-center justify-center gap-8 p-8 lg:p-12"
    >
      <div class="w-full md:w-1/2 text-center md:text-left">
        <h1 class="text-3xl md:text-4xl font-bold text-red-800 mb-4">
          Brindamos soluciones y ejecutamos trabajos en diversas zonas de la
          Región de los Ríos
        </h1>

        <div class="text-lg md:text-xl text-gray-600 space-y-6 mb-6">
          <p>
            Ofrecemos el servicio en terreno con una unidad movil equipada y
            certificada bajo Decreto Supremo N° 44, mantenciones y recargas de
            extintores.
          </p>
          <p>
            Además ofrecemos mantención e instalaciones de redes húmedas;
            instalación y mantención de centrales de incendios; sensores;
            pulsadores de incendios dependiendo la necesidad del proyecto;
            requerimientos de compañías aseguradoras.
          </p>
          <p>
            Realizamos venta de gabinetes contra incendios, pitones, extintores
            y asesorías en proyectos y capacitaciones.
          </p>
        </div>

        <div class="mt-4">
          <h3 class="text-red-600 mb-2">Funciones:</h3>
          <ul class="list-disc pl-6 text-lg text-gray-800">
            <li>Venta de extintores</li>
            <li>Mantenimiento de extintores</li>
          </ul>
        </div>
      </div>

      <div class="w-full md:w-1/2">
        <div class="relative mx-auto overflow-hidden">
          <div class="relative flex items-center justify-center">
            <img
              src="images/download(10).webp"
              alt="Imagen descriptiva"
              loading="lazy"
              class="w-120 object-cover transition-opacity duration-500 ease-in-out rounded-lg"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="py-12 bg-gray-100 opacity-0 translate-y-10 transition-all duration-1000 ease-in-out"
>
  <div class="container mx-auto px-4">
    <h2 class="text-3xl text-red-600 mb-8 text-center">Trabajos Realizados</h2>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
    >
      <div class="w-full h-48 overflow-hidden rounded-lg shadow-lg">
        <img
          src="images/download(2).webp"
          alt="Trabajo 1"
          loading="lazy"
          class="w-full h-full object-cover"
        />
      </div>

      <div class="w-full h-48 overflow-hidden rounded-lg shadow-lg">
        <img
          src="images/download(4).webp"
          alt="Trabajo 2"
          loading="lazy"
          class="w-full h-full object-cover"
        />
      </div>

      <div class="w-full h-48 overflow-hidden rounded-lg shadow-lg">
        <img
          src="images/download(11).webp"
          alt="Trabajo 3"
          loading="lazy"
          class="w-full h-full object-cover"
        />
      </div>

      <div class="w-full h-48 overflow-hidden rounded-lg shadow-lg">
        <img
          src="images/download(12).webp"
          alt="Trabajo 4"
          loading="lazy"
          class="w-full h-full object-cover"
        />
      </div>

      <div class="w-full h-48 overflow-hidden rounded-lg shadow-lg">
        <img
          src="images/download(13).webp"
          alt="Trabajo 5"
          loading="lazy"
          class="w-full h-full object-cover"
        />
      </div>

      <div class="w-full h-48 overflow-hidden rounded-lg shadow-lg">
        <img
          src="images/download(14).webp"
          alt="Trabajo 6"
          loading="lazy"
          class="w-full h-full object-cover"
        />
      </div>

      <div class="w-full h-48 overflow-hidden rounded-lg shadow-lg">
        <img
          src="images/download(15).webp"
          alt="Trabajo 7"
          loading="lazy"
          class="w-full h-full object-cover"
        />
      </div>

      <div class="w-full h-48 overflow-hidden rounded-lg shadow-lg">
        <img
          src="images/download(16).webp"
          alt="Trabajo 8"
          loading="lazy"
          class="w-full h-full object-cover"
        />
      </div>

      <div class="w-full h-48 overflow-hidden rounded-lg shadow-lg">
        <img
          src="images/download(25).webp"
          alt="Trabajo 9"
          loading="lazy"
          class="w-full h-full object-cover"
        />
      </div>

      <div class="w-full h-48 overflow-hidden rounded-lg shadow-lg">
        <img
          src="images/download(26).webp"
          alt="Trabajo 10"
          loading="lazy"
          class="w-full h-full object-cover"
        />
      </div>

      <div class="w-full h-48 overflow-hidden rounded-lg shadow-lg">
        <img
          src="images/download(30).webp"
          alt="Trabajo 11"
          loading="lazy"
          class="w-full h-full object-cover"
        />
      </div>

      <div class="w-full h-48 overflow-hidden rounded-lg shadow-lg">
        <img
          src="images/download(24).webp"
          alt="Trabajo 12"
          loading="lazy"
          class="w-full h-full object-cover"
        />
      </div>
    </div>
  </div>
</section>
