<section
  class="py-12 bg-gray-100 opacity-0 translate-y-10 transition-all duration-1000 ease-in-out"
>
  <div class="container mx-auto px-4">
    <div
      class="flex flex-col md:flex-row items-center justify-center gap-8 p-8 lg:p-12 bg-gray-100"
    >
      <div class="w-full md:w-1/2 text-center md:text-left">
        <h1 class="text-3xl md:text-4xl font-bold text-red-800 mb-4">
          Venta y Rellenado de Extintores
        </h1>
        <p class="text-lg md:text-xl text-gray-600 mb-6">
          Somos una empresa comprometida en ofrecer servicios confiables de
          venta y mantencion de extintores para proteger tu negocio y hogar.
        </p>
        <a
          href="/contacto"
          class="inline-block bg-red-600 text-white px-6 py-3 rounded-lg hover:bg-red-700 transition-all"
          aria-label="Contáctanos para más información"
        >
          Contáctanos
        </a>
      </div>

      <div class="w-full md:w-1/2">
        <div
          class="relative w-full max-w-xl mx-auto overflow-hidden rounded-lg"
          aria-label="Carrusel de imágenes"
        >
          <div class="relative flex items-center justify-center">
            <img
              *ngFor="let image of images; let i = index"
              [src]="image"
              [class.block]="i === currentIndex"
              [class.hidden]="i !== currentIndex"
              alt="Carousel Image"
              [loading]="i === 0 ? 'eager' : 'lazy'"
              width="1200"
              height="1000"
              class="object-cover transition-opacity duration-500 ease-in-out rounded-lg"
              aria-hidden="true"
            />
          </div>

          <div
            class="absolute bottom-4 left-1/2 transform -translate-x-1/2 flex space-x-2"
            aria-label="Controles del carrusel"
          >
            <button
              *ngFor="let image of images; let i = index"
              (click)="goToImage(i)"
              class="w-3 h-3 mr-3 rounded-full bg-white bg-opacity-50 hover:bg-opacity-75 transition-all"
              [class.bg-opacity-100]="i === currentIndex"
              [attr.aria-label]="'Ir a la imagen ' + (i + 1)"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="py-12 opacity-0 translate-y-10 transition-all duration-1000 ease-in-out"
>
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-center text-red-800 mb-8">
      ¿Quiénes Somos?
    </h2>

    <div class="text-center md:text-left mb-12">
      <p class="text-lg text-gray-600 mb-6">
        Somos una empresa joven y comprometida con la seguridad, especializada
        en la venta y mantenimiento de extintores. Nuestra misión es proteger lo
        que más valoras, ofreciendo productos de calidad y un servicio cercano,
        eficiente y profesional
      </p>
      <p class="text-lg text-gray-600 mb-6">
        Contamos con un equipo preparado para brindarte soluciones efectivas en
        prevención y control de incendios, adaptandonos a tus necesidades y
        entregando atención personalizada.
      </p>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-4">
      <div class="flex justify-center">
        <img
          src="images/download(1).webp"
          alt="Imagen 1"
          loading="lazy"
          class="rounded-lg shadow-lg w-full h-auto"
          width="300"
          height="200"
        />
      </div>
      <div class="flex justify-center">
        <img
          src="images/download(14).webp"
          alt="Imagen 2"
          loading="lazy"
          class="rounded-lg shadow-lg w-full h-auto"
          width="300"
          height="200"
        />
      </div>
      <div class="flex justify-center">
        <img
          src="images/download(16).webp"
          alt="Imagen 3"
          loading="lazy"
          class="rounded-lg shadow-lg w-full h-auto"
          width="300"
          height="200"
        />
      </div>
      <div class="flex justify-center">
        <img
          src="images/download(17).webp"
          alt="Imagen 4"
          loading="lazy"
          class="rounded-lg shadow-lg w-full h-auto"
          width="300"
          height="200"
        />
      </div>
      <div class="flex justify-center">
        <img
          src="images/download(19).webp"
          alt="Imagen 5"
          loading="lazy"
          class="rounded-lg shadow-lg w-full h-auto"
          width="300"
          height="200"
        />
      </div>
    </div>
  </div>
</section>

<section
  class="py-12 bg-gray-100 opacity-0 translate-y-10 transition-all duration-1000 ease-in-out"
>
  <div
    class="container mx-auto px-4 max-w-6xl flex flex-col md:flex-row items-center gap-8"
  >
    <div class="w-full md:w-1/2 flex justify-center">
      <img
        src="images/download(6).webp"
        alt="Datos de extintor"
        loading="lazy"
        class="w-full max-w-sm rounded-lg shadow-lg"
        width="400"
        height="300"
      />
    </div>

    <div class="w-full md:w-1/2 text-center md:text-left">
      <h2 class="text-2xl md:text-3xl font-bold text-red-800">
        ¡Tu seguridad es nuestra prioridad!
      </h2>
      <p class="text-lg mt-2">
        Revisa tu extintor hoy mismo y evita riesgos innecesarios.
      </p>
      <p class="text-lg font-semibold">
        Protección garantizada para tu hogar y negocio.
      </p>
      <p class="mt-4">
        ¿Tienes dudas? Contáctanos al
        <strong>
          <a
            href="tel:+56983803835"
            class="font-bold underline hover:text-red-500"
            aria-label="Llámanos al +56 9 3242 6042"
          >
            +56 9 8380 3835
          </a>
        </strong>
        o escríbenos a
        <strong>
          <a
            href="mailto:fekmarserviciotecnicoriobueno@gmail.com?subject=Consulta%20sobre%20extintores"
            class="font-bold underline hover:text-red-500"
            aria-label="Envíanos un correo a coronadoc899@gmail.com"
          >
            fekmarserviciotecnicoriobueno&#64;gmail.com
          </a>
        </strong>
      </p>
    </div>
  </div>
</section>
